@import "./bootstrap-extended.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Montserrat';
}

a:hover {
    color: black;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-item {
    font-family: Montserrat;
    list-style-type: none;
    font-weight: 500;
    transition: .3s;
    transform: translate(-5px);
    text-decoration: none;
    color: black;
}

#active {
    background-image: linear-gradient(118deg,#0483e6,rgba(4,131,230,.7));
    color:white;
    transform: translate(5px);
}

.sidebar-item:hover {
    cursor: pointer;
    transition: .3s;
    transform: translate(5px);
    text-decoration: none;
    color: black;
}

.sidebar-item #icon {
    flex:30%;
    display: grid;
    place-items: center;
}

.sidebar-item #title {
    flex:70%;
}

.shadow {
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.34);
-webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.34);
}


#tableTitle {
    font-family: 'Montserrat';
}
